:root {
	--root-size: 1.2rem;
	--fg-color: #000;
}

body {
	font-family: "DM Sans";
	font-size: var(--root-size);
	/* padding: var(--root-size);  */
	/* <uniquifier>: Use a unique and descriptive class name
	<weight>: Use a value from 100 to 1000 */
}

h1 {
	font-family: "Newsreader";
	font-size: calc(var(--root-size) * 2);
	text-align: center;
	padding: var(--root-size);
	font-weight: 600;
}

.sitename {
	font-family: "Playfair Display";
	text-align: center;
	font-size: larger;
	background-color: #000;
	color: white;
	padding: 2%;
	font-style: italic;
	font-weight: bold;
}

.labels {
	display: flex;
	flex-direction: row;
	align-items: row;
	justify-content: space-between;
}

.written {
	display: flex;
	flex-direction: row;
	align-items: row;
	justify-content: center;
	border-bottom: solid;
	column-gap: 0.5%;
	font-size: smaller;
	font-weight: 600;
}

summary {
	font-family: "Newsreader";
	font-size: calc(var(--root-size) * 1.5);
	border-bottom: solid;
	padding-top: 1.5%;
}

h2 {
	font-family: "Newsreader";
	font-size: calc(var(--root-size) * 1.2) ;
}

#container > h2{
	background-color: red;
	padding: 5%;
}

#wallpaper > h2 {
	background-color: blue;
	padding: 5%;
}

section {
	overflow: hidden;
	background-color: white;
	filter: drop-shadow(0 0 0.75rem gray);
	border-bottom-right-radius: 5%;
	border-bottom-left-radius: 5%;
	border-top-left-radius: 5%;
	border-top-right-radius: 5%;
}

@media (min-width: 600px) {
	:root {
		--root-size: 1.5rem;
	}
}

@media (min-width: 800px) {
	.responsive-row {
		flex-direction: row;
	}
}

@media print {
	:root {
		--root-size: 1rem;
	}
}