:root {
	--root-size: 1.2rem;
	--main-bg-color: white;
	--main-text-color: black;

/* TITLE */
	--title-font-family: "Newsreader", serif;
	--title-font-weight: 600;
	--title-font-style: normal;

/* BODY */
	--body-font-family: "DM Sans", serif;
	--body-font-weight: 300;
	--body-font-style: normal;
	
}

blockquote {
	margin-left: 24px;
	border-left: grey solid;
	padding: 24px;
}

body{
	font-size: 22px;
	font-family: var(--body-font-family);
	font-weight: var(--body-font-weight);
}

main {
	max-width: 30rem;
	margin: auto;
}

p {
	font-size: 22px;
	font-family: "DM Sans";
	font-weight: 300;
	line-height: 28px;
}

footer{
	color: white;
	background: black;
	padding: 24px;
}

/* DEFAULT - MOBILE */


.sitename {
	padding-top: 72px;
	padding-bottom: 48px;
	margin-bottom: 24px;

	font-size: 56px;
	font-family: "Playfair Display";
	font-weight: 600;
	font-style: italic;
	text-align: center;
	color: white;
	background-color: black;
}

h1 {
	padding: 24px;

	font-size: 84px;
	font-family: newsreader;
	font-weight: var(--title-font-weight);
	text-align: center;
}

h2{
	font-size: 48px;
	font-family: newsreader;
	font-weight: 600;
	padding: 1.2rem;
}

.card {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.card-title {
	background-color: yellow;
}

.card-content {
	padding: 1.5rem;
}

.labels {
	text-align: center;
}

.author {
	text-align: center;
	font-size: 1.5rem;
}

summary {
	font-size: 2rem;
	font-family: newsreader;
	font-weight: 600;
	border-top: black solid;
	border-bottom: black solid;
}

section {
	border: grey solid;
	border-radius: 16px;
	overflow: hidden;

	max-width: 50rem;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

}

	/* TEMPORARY - IPHONE */

@media (min-width: 565px) {

}

	/* DESKTOP */

@media (min-width: 1280px) {

	article{
		display: grid;
		grid-template-columns: 3, 1fr;
		grid-template-areas: 
			"header header"
			"Summary sidebar"
			"footer sidebar";
	}

}

@media print {

}