:root {
	font-size: 16px;
	--root-size: 1.2rem;
	--main-bg-color: white;
	--main-text-color: black;

/* TITLE */
	--title-font-family: "Newsreader", serif;
	--title-font-weight: 500;
	--title-font-style: normal;

/* BODY */
	--body-font-family: "Newsreader", "sans serif";
	--body-font-weight: 400;
	--body-font-style: normal;
	
}

blockquote {
	margin-left: 4rem;
	margin-right: 1rem;
	padding-bottom: 2rem;
	font-family: var(--title-font-family);
	font-size: 1.5rem;
	margin-top: 2rem;
	font-weight: 300;
	letter-spacing: 1px;
	color: dodgerblue;
	line-height: 2rem;
	/* font-style: italic; */
	/* border-left: rgb(215, 215, 215) solid 1.5px; */
}

body{
	font-size: 1.2rem;
	font-family: var(--body-font-family);
	font-weight: var(--body-font-weight);
}

.sitename {
	padding-top: 2rem;
	padding-bottom: 2rem;
	font-size: 2rem;
	font-family: "Playfair Display";
	font-weight: 600;
	font-style: italic;
	text-align: center;
	color: white;
	background-color: black;
	width:100%;
}

main {
	display: grid;
	max-width: 50ch;
	margin: auto;
	/* margin: 2rem; */
}

.headercontent {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: auto;
}

/* .labels {
	font-size: 1rem; */
	/* margin: 0.5rem 0; */
	/* display: flex;
	align-items: center;
	font-weight: 500;
} */

.author {
	font-size: 1.2rem;
	padding-bottom: 1rem;
	/* margin: 0.5rem; */
}

h1 {
	padding-top: 2rem;
	padding-bottom: 2rem;
	font-size: 4rem;
	font-family: newsreader;
	font-weight: var(--title-font-weight);
	text-align: center;
}

.content, .card {
	max-width: 40rem;
	/* width: 100%; */
}

h2{
	font-size: 2rem;
	font-family: "newsreader";
	font-weight: 600;
	padding-left: 2.5rem;
	padding-top: 1.3rem;
	padding-bottom: 1rem;
}

p {
	font-size: 1.2rem;
	line-height: 2rem;
}

.subtext {
	/* margin-top: 1rem;
	line-height: 1.5rem; */
	padding-top: 1rem;
}


footer {
	color: white;
	background: black;
	padding: 24px;
}

/* MOBILE GRID DEFAULT */

.container {
	display: grid;
	gap: 1.5rem;
	padding: 1rem;
}

header{
	width:100%;
}

.summary, .tableofcontents, .content {
	margin: 0 auto;
	width: 100%;
}

/* CARDS */

.card {
	margin-top: 2rem;
	margin-bottom: 3rem;
	margin-right: auto;
	margin-left: auto;
	/* position:sticky;
	top:50px; */
}


/* card title color  */
#container > .card-title {
	background-color: rgb(255 196 10);
}

#wallpaper > .card-title {
	background-color: rgb(248 222 126);
}

#dna > .card-title {
	background-color: rgb(251 244 164);
}

#formula > .card-title {
	background-color: rgb(196 223 255);
}

#customised > .card-title {
	background-color: rgb(138 185 241);
}

#generative > .card-title {
	background-color: rgb(79 146 255);
}

/* Card position sticky  */
#container{ 
	top:25px;
}

#wallpaper{
	top:65px;
}

#dna{
	top:105px;
}

#formula{
	top:145px;	
}

#customised{
	top:185px;
}

#generative{
	top:225px;
}

.card-content {
	margin-left: 2.5rem;
	margin-right: 2.5rem;
	background-color: white;
}

.card-content-parent {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 2rem;
	margin-bottom: 2.5rem;
}

summary {
	font-size: 1.8rem;
	font-family: newsreader;
	font-weight: 500;
	max-width:40ch;
	margin: auto;
}

details{
	border-top: black solid 1.5px;
	border-bottom: black solid 1.5px;
	/* font-size: 1.8rem; */
	margin: auto;
	max-width:53ch;
	padding: 20px;
}

li {
	font-size: 1.2rem;
	line-height: 1.5rem;
}

/* SECTIONS */

section {
	/* border: #d6d6d6 solid; */
	border-radius: 16px;
	overflow: hidden;
	/* max-width: 50rem; */
	/* margin: 1rem; */
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	filter: drop-shadow(0 0.75rem 0.75rem #f4f4f4);
	position: sticky;
	background-color: white;
}

	/* 2 COLUMN LAYOUT */

@media (min-width:800px) {

	main {
		max-width: 80ch;
	}

	blockquote {
		border-top: solid black;
		margin-top: 0;
		padding-top: 1.2rem;
	}

	.container {
		grid-template-columns: 1fr 2fr;
	}

	.headercontent{
		grid-column:1 / span 2;
		height: 20rem;
		justify-content: space-evenly;
	}

	aside {
		/* display: flex;
		flex-direction: column; */
	}

	.tableofcontents {
		grid-column:1;
		grid-row:2;
	}

	.summary {	
		grid-column:1;
		grid-row:2;
	}

}

	/* DESKTOP – 3 COLUMN LAYOUT */

@media (min-width: 1280px) {

	main {
		max-width: 120ch;
	}

	.container {
		grid-template-columns: 1fr 2fr 1fr;
	}

	.headercontent{
		grid-column:1 / span 3;
		height: 20rem;
		justify-content: space-evenly;
	}

	.labels {
		font-size: 1.5rem;
		margin: 0.5rem 0;
		display: flex;		
	}

	.summary {
		grid-column:3;
		grid-row:2;
	}

	/* .card {
		margin-top: 2rem;
		margin-bottom: 3rem;
	} */

	.subtext {
		/* font-size: 1rem; */
		/* line-height: 1.8rem; */
	}

	#cardcontainer {
		margin-top: 2rem;
		margin-bottom: 3rem;
	}

	.tableofcontents {
		grid-column:1;
	}

	.content{
		grid-column:2;
		border-top: black solid 1.5px;
	}

	.content, .card {
		max-width: 40rem;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	#info{
		grid-column:2;
		display:grid;
		grid-template-columns: 1fr 1fr;
	}

	p.labels:nth-child(1){
		text-align:left;
	}

	p.lables:nth-child(2){
		text-align:end;
	}

	.aside {
		display: grid;
		gap: 1rem;
		padding: 1rem;
		height: 100vh; /* or another height */
	}
}

@media (min-width: 2560px) {

	main {
		max-width: 120ch;
	}

	h1 {
		font-size: 6rem;
	}

	p {
		font-size: 1.5rem;
		line-height: 2.5rem;
	}

	.subtext{
		font-size: 1.2rem;
	}

}

/* Print Mode */
@media print {

	header{
		height: 8rem;
	}

	section {
		filter: none;
	}

	body {
		max-width: 55ch;
		margin: auto;
	}

	p {
		font-size: 1rem;
		line-height: 1.8rem;
	}

	blockquote {
		color: #313131;
	}
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
	
	.sitename {
		background-color: #f4f4f4;
		color: black;
	}

	footer {
		background-color: #f4f4f4;
		p{
			color: #121212;
		}
	}
	
	body {
		background-color: #121212;
	}

	h1 {
		color: #f4f4f4;
	}

	h2 {
		background-color: #f4f4f4;
	}

	blockquote{
		color: #808080;
	}

	section {
		filter: drop-shadow(0 0.75rem 0.75rem black);
	}

	.summary {
		color: #f4f4f4;
	}

	details{
		border-top: #f4f4f4 solid 1.5px;
		border-bottom: #f4f4f4 solid 1.5px;
		padding: 20px;
	}

	.tableofcontents {
		color: #f4f4f4;
	}

	p {
		color: #f4f4f4;
	}

	section {
		border: none;
		background-color: #313131;
	}

	.card-content {
		background-color: #313131;
		color: #f4f4f4;
	}

	.content{
		border-top: white solid 1.5px;
	}

	}